@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  margin: 0;
  padding: 0;
  outline: none; }

body, html {
  height: 100%; }

body {
  position: relative;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none;
  color: #000; }

a:hover {
  color: #000; }

.header-site {
  width: 100%;
  height: 60px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/logo.svg") #000 center no-repeat;
  background-size: 30px; }

.lang {
  height: 20px; }
  .lang .en {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/en.svg") center no-repeat;
    border-radius: 50%;
    background-size: cover; }
  .lang .ru {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/ru.svg") center no-repeat;
    border-radius: 50%;
    background-size: cover; }

.support-status {
  text-align: right;
  color: #fff; }
  .support-status span {
    color: #00f300; }

.menu-site {
  width: 100%;
  line-height: 40px;
  background: #f7f7f7;
  text-align: center;
  color: red; }

.game {
  margin: 25px 0; }
  .game .server {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 0;
    width: 100%; }
    .game .server .logo img {
      display: block;
      margin: 0 auto;
      height: 150px; }
    .game .server .options {
      margin-top: 20px;
      text-align: center; }
      .game .server .options h2 {
        font-size: 1.5rem;
        margin: 0;
        height: 50px; }
      .game .server .options .select-type {
        margin-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 40px; }
      .game .server .options .button-type {
        width: 100px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background: yellow;
        border-radius: 20px;
        margin: 0 20px;
        font-weight: 700;
        cursor: pointer; }
        .game .server .options .button-type:hover {
          text-decoration: underline; }
      .game .server .options .form-order {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .game .server .options .form-order input, .game .server .options .form-order select {
          font-size: 18px;
          text-align-last: center;
          text-align: center;
          font-family: 'Open Sans', sans-serif;
          margin: 5px 0;
          border: none;
          border: solid 2px rgba(0, 0, 0, 0.12);
          height: 50px;
          width: 300px;
          -webkit-transition: all .5s ease;
          transition: all .5s ease; }
          .game .server .options .form-order input:focus, .game .server .options .form-order select:focus {
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
            border-color: #000; }

::-webkit-input-placeholder {
  text-align: center;
  color: #000; }

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  color: #000; }

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  color: #000; }

:-ms-input-placeholder {
  text-align: center;
  color: #000; }

.specials-full {
  width: 100%;
  background: #f8f8f8; }

.specials {
  padding: 0;
  padding-top: 43px; }
  .specials h1 {
    width: 100%;
    text-align: center;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    line-height: 82px;
    margin-bottom: 36px; }
    @media (max-width: 991.98px) {
      .specials h1 {
        font-size: 24px; } }
  .specials h2 {
    font-size: 20px;
    margin: 0;
    padding: 40px 0 90px 0;
    line-height: normal;
    font-family: 'Open Sans',Roboto,Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #0d151c; }
  @media (min-width: 575.98px) and (max-width: 767.98px) {
    .specials h2 {
      font-size: 18px; } }
  .specials .row .special {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .specials .row .special span {
      position: relative;
      margin: 0 auto;
      border-radius: 100%;
      width: 170px;
      height: 170px;
      display: block;
      border: solid 1px #858c93;
      background: #fff;
      text-align: center; }
      .specials .row .special span i {
        width: 145px;
        height: 145px;
        background: #f8f8f8;
        color: #0d151c;
        font-size: 48px;
        border-radius: 100%;
        margin-top: 12.5px; }
      .specials .row .special span i:before {
        position: absolute;
        left: 35%;
        top: 35%; }
    @media (min-width: 575.98px) and (max-width: 767.98px) {
      .specials .row .special span {
        width: 140px;
        height: 140px; }
        .specials .row .special span i {
          width: 115px;
          height: 115px;
          font-size: 42px; } }

.footer {
  width: 100%;
  line-height: 50px;
  background: #000;
  text-align: center; }
  .footer p {
    color: #fff;
    margin: 0; }
